@page "{id:int}"
@model Frontend.Pages.Resource.EditModel
@{
    ViewData["Title"] = "Редактировать ресурс";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input type="hidden" asp-for="Resource.Id" />
            <div class="form-group mb-3">
                <label asp-for="Resource.Name" class="control-label">Наименование</label>
                <input asp-for="Resource.Name" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                <a asp-page="./Index" class="btn btn-secondary">Отмена</a>
            </div>
        </form>
    </div>
</div>