<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Управление складом</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="d-flex">
        <nav class="sidebar">
            <div class="sidebar-header">
                <h3>Управление складом</h3>
            </div>
            <ul class="list-unstyled components">
                <p>Склад</p>
                <li>
                    <a asp-page="/Balance/Index">Баланс</a>
                </li>
                <li>
                    <a asp-page="/Receipt/Index">Поступления</a>
                </li>
                <li>
                    <a asp-page="/Shipment/Index">Отгрузки</a>
                </li>
                <p>Справочники</p>
                <li>
                    <a asp-page="/Client/Index">Клиенты</a>
                </li>
                <li>
                    <a asp-page="/Ue/Index">Единицы измерения</a>
                </li>
                <li>
                    <a asp-page="/Resource/Index">Ресурсы</a>
                </li>
            </ul>
        </nav>

        <div id="content" class="p-4 p-md-5">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>